.CharacterPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CharacterPageCharComponentCard {
  margin-bottom: 1rem;
}

.info {
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  width: max-content;
}

.characterContainer {
  display: flex;
  align-items: center;
}
