.episodeContainer{
  background-color: blue;
}

.pageContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.episodesContainer{
  display: flex;

  flex-direction: column;
  gap: 5rem;
  margin: 3rem;
  /* align-items: center; */
  
}

.episode{
  flex: 1 1 auto;
}


