
.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem 2rem 5rem 2rem;
}

/*homepagecontainer ?  display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
.homepageContainer{
  display: flex;
  flex-direction: column;

  /* width: 100%; */
}


.linkContainer{
  min-width: 20rem;
  /* padding: 2rem; */
}