.testDiv {
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
}

.testDiv:hover {
  z-index: 1;
}
.AnimatedCharBox_testDivClicked {
  width: 100px;
}

.animatedCharDivIfNotanimated {
  width: 200px;
}
