.card {

  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2rem;
  box-shadow: rgb(255 255 255 / 31%) 0px 4px 12px
}


img {
  border-radius: 2rem;
}

.info {
  position: absolute;
  bottom: 0;
  background-color: #3725549e;
  width: -webkit-fill-available;
  font-family: monospace;
  font-size: larger;
  padding: 2rem;
  color: #FFDD4A;
  border-radius: 0 0 2rem 2rem;
  max-height: 55%;
}

.infoStatic {
  position: static;
  word-break: break-all;
}


.grow:hover>div {
  background-color: #ffdd4abd;
  color: #02b1c8;
  ;
}

.grow {
  transition: 1s ease;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  z-index: 1;
}