
.card{

  /* border: 5px solid red;
   */
  display: flex;
  flex-direction: column;
  position: relative;

  
}
img{
  border-radius: 2rem;
}
.info{
  position: absolute;
  bottom: 0;
  background-color: #14293bbf;
  width: -webkit-fill-available;
  font-family: monospace;
  font-size: larger;
  padding: 2rem;
  color: #ffdd4abd;
  border-radius: 0  0 2rem 2rem;
  /* max-height: 10%; */
}
/* .infoClicked{
  position: absolute;
  bottom: 0;
  background-color: #14293bbf;
  width: -webkit-fill-available;
  font-family: monospace;
  font-size: larger;
  padding: 2rem;
  color: #ffdd4abd;
  border-radius: 2rem;
  
  
} */

.grow:hover > div {
  background-color: #ffdd4abd;
  color: #02b1c8; ;

}

.grow {
  transition: 1s ease;
  }
  
  .grow:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  z-index: 1;
  }
  /* a:hover{
    color: #02b1c8;
  } */
