.episodeCharactersContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}

.episode_stoppedChars {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #ffdd4a;
}

.episodeDate {
  color: #ffde4a9a;
}
.espisodeInfo {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  color: mediumslateblue;
}

hr {
  border: 1px solid mediumslateblue;
}

.charContainerOnWindowWidth {
  position: relative;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 752px) {
  .espisodeInfo {
    flex-direction: column;
    gap: 0;
  }
  .title {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: #ffdd4a;
  }
  .episode_charContainerOnWindowWidth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
