
.episodeCharactersContainer{
  

  flex-direction: row;
  width: 90vw;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

/* .episodeCharactersContainer div{
  width: 10rem;
} */
.testDiv{
  border: 5px dashed black;
  width: 10rem;
  border-radius: 50%;
  /* overflow: hidden; */
}