.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 5rem;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.logo {
  max-width: 20rem;
  z-index: 1;

  flex-shrink: 1;
  min-width: 1rem;

  position: absolute;
  left: -50%;
  top: 2rem;
}
.footer {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: linear-gradient(#190833, #4b45c1);
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
}

.footerImage {
  height: 15rem;
  z-index: 2;
}

.logoContainer {
  width: 10rem;
  height: 10rem;
  position: relative;
  background: #df7fd5;
  transition: border-radius 2.2s linear;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-left: 6rem;
}

@media screen and (max-width: 752px) {
  .header {
    flex-direction: column;
    height: fit-content;
  }
  .menu {
    margin: 0 0rem 2rem 0;
  }
  .footerImage {
    height: 10rem;
  }
  .logoContainer {
    margin: 1rem 0 2rem 0;
  }
}
