/* .MuiOutlinedInput-notchedOutline css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-radius: 50% !important;
  background-color: aquamarine !important;
  border-color: red;
} */

/* fieldset{
  border-color: aqua;
  color: aliceblue;
} */

fieldset{
  border-color: #df7fd5 !important;
  /* background-color:rgb(255 255 255 / 85%); */
}
label{
  color: #190833 !important;
  background: #df7fd5 !important;
  border-radius: 2rem !important;
  padding: 0 1rem 0 1rem !important;
}



