@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300&display=swap');



/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

a {
  font-weight: 500;
  
  color: #FFDD4A;
  text-decoration: inherit;
}
a:hover {
  color: #02b1c8;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: #372554;
  
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
 */
 min-height: 100vh; 
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.css-6wwd73-MuiAutocomplete-noOptions{
  color : green !important;
}

/* .css-1m84i9m-MuiButtonBase-root-MuiButton-root{

  border: 2px solid #02b1c8  !important;
  width: fit-content !important;
  align-self: center !important;
  color: #372554 !important;
  font-weight: 500 !important;
  font-family: 'Rubik', sans-serif !important;
  letter-spacing: 0.2rem !important;
  padding: 1rem 2rem 1rem 2rem !important;
  background-color:  #FFDD4A!important;
  margin: 2rem !important;
}

.css-1m84i9m-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #ffd0005a !important;
 
} */


.css-1m84i9m-MuiButtonBase-root-MuiButton-root{

  border: 2px solid #FFDD4A  !important;
  width: fit-content !important;
  align-self: center !important;
  color: #FFDD4A !important;
  font-weight: 500 !important;
  font-family: 'Rubik', sans-serif !important;
  letter-spacing: 0.2rem !important;
  padding: 1rem 2rem 1rem 2rem !important;
  /* background-color:  #FFDD4A!important; */
  margin: 2rem !important;


  position: relative !important;
  z-index: 1 !important;
  background: rgb(234, 0, 255) !important;
  transition: background 0.4s !important;
}

.css-1m84i9m-MuiButtonBase-root-MuiButton-root::before {
  content: "";
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    to bottom,
    transparent,
    #02b1c8
  ) !important;
  z-index: -1 !important;
}
.css-1m84i9m-MuiButtonBase-root-MuiButton-root:hover {
  background: #df7fd5 !important;
}

.material-icons{
  font-size: 5rem !important;
}


@media screen and (max-width: 752px){
  .material-icons{
    font-size: 2rem !important;
  }
  .css-1m84i9m-MuiButtonBase-root-MuiButton-root{
    margin: 1rem !important;
  }
}